<!DOCTYPE html>
<html>
<head>
  <title>Special Camp 2013</title>
  <style type="text/css">
    body { background-color: #EEEEEE; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 500px;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
      background-color: white; 
    }
    h1 { font-size: 16px; color: green; line-height: 1.5em; }
  </style>
  <script>
    function goBack()
    {
    window.history.back()
    }
  </script>
</head>

<body>
  <div class="dialog">
    <br />
    <h1>Download one page in order to print at my local printer</h1>
    <br />
    <a style="font-size: 14px;" href="http://stark-retreat-1229.herokuapp.com/meds/out/2013/printit.pdf">download</a><br /><br />
    <input type="button" value="Back" onclick="goBack()">
    <br /><br />
  </div>
</body>
</html>

