<!DOCTYPE html>
<html>
<head>
  <title>Special Camp 2013</title>
  <style type="text/css">
    body { background-color: #EEEEEE; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 550px;
      padding: 0 1em;
      margin: 1em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
      background-color: white; 
    }
    h1 { font-size: 16px; color: green; line-height: 1.5em; }
  </style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <br />
    <h1>The latest Special Camp 2013 Medications Schedule has been loaded</h1>
    <br />
    <a style="font-size: 14px;" href="/">continue</a> <!-- change this to /top/view -->
    <br /><br />
  </div>
</body>
</html>

